* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 

}
body {
  background: #f3f4f6;
  font-family: system-ui, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh; 
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 48px 32px;
  top: 0; 
  max-height: 180px;
  background: linear-gradient(90deg, #7b5cff, #774076);
  color: black;
  font-size: 32px;
  font-weight: 600;
  width: 100%;
}

.main{
  display: flex;
  flex-direction: row;
}

.left, .right {
  padding: 24px;
  border-radius: 12px;
  min-height: 400px;
  flex: 1;
  width: 100%;
}

.head-section{
  display:flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.task-list{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.task-item {
  background: white;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 0 2px 6px gray;
  cursor: pointer;
  transition: 0.2s;
}

.task-item:hover {
  transform: translateY(-3px);
}

.task-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.task-priority{
  padding: 6px 12px;
  border-radius: 16px;
  font-size: 12px;
  font-weight: bold;
}

.task-descrip{
  margin-bottom: 12px;
}

.task-foot{
  display: flex;
  align-items: center;
  gap: 12px;
}

.task-time{
  font-size: 14px;
  font-weight: 600;
  color: #6a5acd;
  margin-right: auto;
}

.button-details{
  background: #7b5cff;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.button-details:hover {
  background: #6a4de0;
}

.button-delete{
  background: red;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.button-delete:hover {
  background: rgb(184, 29, 29);
}

.add {
  background: #7b5cff;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}

.add:hover {
  background: #6a4de0;
}

.filters{
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}
.filter-button {
  background: white;
  padding: 12px 24px;
  border-radius: 20px;
  cursor: pointer;
}

.filter-button:hover {
  background: rgb(127, 128, 210);
}

.form-overlay {
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  align-items: center;
  justify-content: center;
}

.form {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  min-width: 30%;
  min-height: 50%;
  gap: 14px;
}

.form input,
.form textarea,
.form select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.form button {
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  background: #7b5cff;
}

.form button:hover {
  background: #6947d4;
}

.task-section {
  background: white;
  padding: 17px 20px;
  border-radius: 8px;
  box-shadow: 1px 2px 8px rgba(0,0,0,0.08);
  margin-bottom: 16px;
  width: 50%;
}

.current-label {
  font-size: 12px;
  font-weight: 700;
  color: #7c8ba1;
  margin: 4px;
}

.current-title {
  font-size: 20px;
  font-weight: 600;
  color: #1e1e1e;
}

.duration-select {
  margin-bottom: 20px;
}

.timer {
  display: flex;
  justify-content: center;
}

.pomodoro-buttons{
  display:flex;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}


.pomodoro-button-start{
  background: #7b5cff;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.pomodoro-button-pause{
  background: #7b5cff;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.pomodoro-button-reset{
  background: #7b5cff;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

.pomodoro-button-start:hover{
  background:#5c43cc;
}
.pomodoro-button-pause:hover{
  background:#5c43cc;
}
.pomodoro-button-reset:hover{
  background:#5c43cc;
}

.stats-box{
  text-align: center;
  margin-top:20px;
}